<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
Bienvenue, <span th:text="${username}"/>.

<form th:action="@{/logout}">
    <button type="submit">Se déconnecter</button>
</form>

<form th:action="@{/simplecheck}">
    <button type="submit">Vérifier le login en session (en trace de serveur)</button>
</form>

<div th:replace="session::session"></div>

<!-- Afficher la liste des utilisateurs -->
<h2>Liste des Utilisateurs</h2>
<table border="1">
    <thead>
    <tr>
        <th>Login</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
